 

	<div class="row">

		<div class="col-md-12 mt-1" >
			<iframe id="IsnetLoginIframeId" src="https://mini.istecagrimerkezi.com" title="voice call demo for Wease...." style="width: 60vw;height: 80vh;position: relative;" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-12 mt-1" style="text-align:center;">
			<button type="button" id="IframeGetirButtonId" class="btn btn-primary">IFrame Getir</button>


			<button type="button" id="CallButtonId" class="btn btn-success">Ara!</button>

		</div>
	</div>

 